*,
*::after,
*::before {
  margin: 0;
  padding: 0; }

html {
  font-size: 62.5% !important;
  background-color: #EEF5F9; }

body {
  font-family: 'Quicksand', sans-serif !important;
  font-weight: 400 !important;
  font-size: 1.6rem !important;
  line-height: 1.7 !important; }

.u-heading-heavy {
  font-size: 20rem !important;
  font-weight: 700 !important;
  line-height: 15rem !important; }

.u-heading-primary-heavy {
  font-size: 7rem !important;
  font-weight: 600; }

.u-heading-primary {
  font-size: 4rem !important;
  font-weight: 600; }

.u-heading-m {
  font-size: 3rem !important;
  font-weight: 600; }

.u-heading-sm {
  font-size: 2rem !important;
  font-weight: 600; }

.u-heading-s {
  font-size: 2.5rem !important;
  font-weight: 600; }

.u-heading-xs {
  font-size: 1.5rem !important; }

.u-dot-heavy {
  font-size: 6rem !important; }

.u-text-align-center {
  text-align: center !important; }

.u-text-align-left {
  text-align: left !important; }

.u-block-text {
  display: block !important; }

.u-text-italic {
  font-style: italic !important; }

.u-vertical-align {
  vertical-align: bottom !important; }

.u-padding-sm {
  padding: 1.5rem !important; }

.u-padding-md {
  padding: 2rem !important; }

.u-padding-lg {
  padding: 5rem !important; }

.u-padding-top-xl-custom {
  padding-top: 15rem !important; }

.u-padding-top-xl {
  padding-top: 9rem !important; }

.u-padding-top-lg-text {
  padding-top: 3rem !important; }

.u-padding-top-lg {
  padding-top: 2rem !important; }

.u-padding-top-m {
  padding-top: 1rem !important; }

.u-padding-top-6 {
  padding-top: .6rem !important; }

.u-padding-left-xl {
  padding-left: 10rem !important; }

.u-margin-top-lg {
  margin-top: 5rem !important; }

.u-margin-top-m {
  margin-top: 2rem !important; }

.u-margin-top-sm {
  margin-top: 1rem !important; }

.u-margin-bottom-lg {
  margin-bottom: 5rem !important; }

.u-margin-bottom-l {
  margin-bottom: 3rem !important; }

.u-margin-bottom-m {
  margin-bottom: 2rem !important; }

.u-margin-left-m {
  margin-left: 2rem !important; }

.u-margin-left-s {
  margin-left: 1rem !important; }

.u-margin-lg {
  margin: 5rem !important; }

.u-white-text {
  color: #ffffff !important; }

.u-bluedark-text {
  color: #0090ff !important; }

.u-bluelight-text {
  color: #48afff !important; }

.u-orange-text {
  color: #FA7921 !important; }

.u-darkgray-text {
  color: #8C908E !important; }

.u-error-text {
  color: #F4766B !important; }

.u-success-text {
  color: #73AB84 !important; }

.u-violet-text {
  color: #6457A6 !important; }

.u-yellow-text {
  color: #FABC3C !important; }

.u-bg-primary-light {
  background-color: #48afff !important; }

.u-bg-primary-dark {
  background-color: #0090ff !important; }

.u-bg-main {
  background-color: #EEF5F9 !important; }

.u-bg-transparent {
  background-color: transparent !important; }

.u-display-inline {
  display: inline-block !important; }

.u-container-center {
  position: absolute !important;
  top: 60% !important;
  left: 50% !important;
  transform: translate(-50%, -50%) !important; }

.u-border-m {
  border: 0.2rem solid #E8E5E8; }

.u-no-margin-padding {
  padding: 0 !important;
  margin: 0 !important; }

.u-text-align-left {
  text-align: left !important; }

.u-text-align-right {
  text-align: right !important; }

.u-custom-width {
  width: 80rem !important; }

.u-custom-width-xl {
  width: 40rem !important; }

.u-custom-width-lg {
  width: 30rem !important; }

.u-custom-width-m {
  width: 20rem !important; }

.u-custom-width-sm {
  width: 10rem !important;
  text-align: center !important; }

.u-bold-text {
  font-weight: 500 !important; }

.u-label-error {
  background-color: #F4766B !important;
  color: #ffffff !important;
  padding: .5rem 1rem !important; }

.u-label-success {
  background-color: #73AB84 !important;
  color: #ffffff !important;
  padding: .5rem 1rem !important; }

.topbar {
  background-color: #0090ff !important; }

.navbar__img {
  max-width: 7rem;
  width: 50%;
  height: auto;
  margin-left: 1rem; }

.logo-text {
  font-size: 1.5rem;
  font-weight: 600; }

.op-5 {
  font-size: 1.3rem !important; }

.pace {
  -webkit-pointer-events: none;
  pointer-events: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none; }

.pace-inactive {
  display: none; }

.pace .pace-progress {
  background: #f20d85;
  position: fixed;
  z-index: 2000;
  top: 0;
  right: 100%;
  width: 100%;
  height: 2px; }

.auth__message {
  text-align: center;
  color: white;
  border-radius: .5rem;
  padding: 1rem;
  animation: fadeinout 15s linear forwards; }
  .auth__message-success {
    background-color: #73AB84; }
  .auth__message-error {
    background-color: #F4766B; }

@keyframes fadeinout {
  0% {
    opacity: 0; }
  5% {
    opacity: 1; }
  50% {
    opacity: 0; }
  100% {
    opacity: 0; } }

.User {
  color: #73AB84; }

.Admin {
  color: #F4766B; }

.profile__photo {
  max-width: 15rem;
  width: 100%;
  height: auto;
  transition: .4s all; }
  .profile__photo:hover {
    box-shadow: 0 0.05rem 2rem rgba(0, 0, 0, 0.2);
    cursor: pointer;
    transform: translateY(-4px); }
  .profile__photo:active, .profile__photo:focus {
    transform: translateY(-1px);
    outline: none; }

.placeholder_info {
  padding: 1rem 0 0 1rem;
  width: 1rem !important;
  color: #48afff;
  font-weight: 600; }

.file_upload {
  max-width: 15rem;
  width: 100%;
  height: 100%;
  opacity: 0;
  cursor: pointer;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  filter: alpha(opacity=0);
  -moz-opacity: 0.0;
  -khtml-opacity: 0.0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: red; }

.fixed-left {
  position: fixed !important; }

.custom-tr {
  cursor: pointer;
  transition: .4s all;
  background-color: #ffffff; }
  .custom-tr:hover {
    box-shadow: 0 0.05rem 2rem rgba(0, 0, 0, 0.2);
    cursor: pointer;
    transform: translateY(-0.02px); }

.custom-select {
  font-size: 1.5rem;
  height: auto !important; }

.selection-box {
  display: inline-block;
  width: 85%;
  height: auto;
  text-align: center;
  line-height: 1.5;
  color: #4F5467;
  vertical-align: middle;
  background-size: 8px 10px;
  border: 1px solid #e9ecef;
  border-radius: 2px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none; }

.react-datepicker {
  font-size: 1.4rem !important; }

.react-datepicker__header {
  padding-top: 1rem !important; }

.react-datepicker__month {
  margin: 1rem 1.4rem !important; }

.react-datepicker__day-name, .react-datepicker__day {
  width: 2.5rem !important;
  line-height: 2.5rem !important;
  margin: .6rem !important; }

.react-datepicker__current-month {
  font-size: 1.4rem !important; }

.react-datepicker__navigation {
  top: 1rem !important;
  line-height: 1.7rem !important;
  border: 0.45rem solid transparent !important; }

.react-datepicker__navigation--previous {
  border-right-color: #8C908E !important;
  left: 1rem !important; }

.react-datepicker__navigation--next {
  border-left-color: #8C908E !important;
  right: 1rem !important; }

.react-datepicker__day--selected, .react-datepicker__day--in-selecting-range, .react-datepicker__day--in-range {
  background-color: #0090ff !important; }

.ct-label {
  color: #8C908E !important;
  font-size: 1.2rem !important; }

.pagination-container {
  display: inline-block;
  padding: 5rem 0 2rem 0; }

.pagination {
  background-color: transparent;
  text-align: center; }
  .pagination li a {
    color: #0090ff;
    padding: .7rem 1.5rem;
    cursor: pointer; }

.active-link {
  background-color: #0090ff;
  padding: .7rem 1.5rem;
  color: #ffffff !important;
  border-radius: .3rem; }
  .active-link:hover {
    color: #ffffff; }

.disabled a {
  color: #8C908E !important; }

.ct-series-a .ct-bar, .ct-series-a .ct-line, .ct-series-a .ct-point, .ct-series-a .ct-slice-donut {
  stroke: #0090ff !important; }

.ct-series-a .ct-area, .ct-series-a .ct-slice-donut-solid, .ct-series-a .ct-slice-pie {
  fill: #48afff !important; }

.ct-series-b .ct-bar, .ct-series-b .ct-line, .ct-series-b .ct-point, .ct-series-b .ct-slice-donut {
  stroke: #6457A6 !important; }

.ct-series-b .ct-area, .ct-series-b .ct-slice-donut-solid, .ct-series-b .ct-slice-pie {
  fill: #9DACFF !important; }

.header-icon {
  background-color: #6457A6;
  border-radius: 100%;
  display: inline-block;
  padding: .3rem .8rem;
  color: #ffffff; }

.custom__tabs {
  color: #000000;
  font-weight: 600;
  font-size: 1.6rem; }
  .custom__tabs-uncheck {
    color: #3E5569 !important;
    font-weight: 500 !important; }

.div__centered {
  text-align: left;
  margin: auto;
  width: 100rem; }

.ct-label {
  font-size: 1.3rem !important; }

.article__img {
  height: auto;
  max-width: 9rem;
  width: 100%; }

.registration__form {
  background-color: #ffffff;
  display: inline-block;
  border-radius: 1rem;
  box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.1);
  padding: 5rem 4rem 2.5em 4rem;
  width: 20%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); }
  .registration__form__header--logo {
    width: 100%;
    height: auto;
    max-width: 12rem;
    text-align: right; }
  @media (max-width: 75em) {
    .registration__form {
      width: 30%; } }
  @media (max-width: 56.25em) {
    .registration__form {
      width: 40%; } }
  @media (max-width: 37.5em) {
    .registration__form {
      width: 50%;
      box-shadow: none; } }

.form__group:not(:last-child) {
  margin-bottom: 1rem; }

.form__input {
  font-size: 1.5rem;
  font-family: inherit;
  color: inherit;
  padding: 1rem .1rem;
  border-radius: 2px;
  background-color: rgba(255, 255, 255, 0.5);
  border: none;
  width: 100%;
  display: block;
  transition: all .3s;
  border-bottom: 1px solid #E8E5E8; }
  .form__input:focus {
    outline: none;
    border-bottom: 1px solid #0090ff; }
  .form__input:focus:invalid {
    border-bottom: 1px solid #F4766B; }

.form__input-search {
  font-size: 1.5rem;
  font-family: inherit;
  color: inherit;
  padding: .3rem .1rem;
  border-radius: 2px;
  background-color: rgba(255, 255, 255, 0.5);
  border: none;
  width: 100%;
  display: block;
  transition: all .3s;
  border-bottom: 1px solid #E8E5E8; }
  .form__input-search:focus {
    outline: none;
    border-bottom: 1px solid #0090ff; }
  .form__input-search:focus:invalid {
    border-bottom: 1px solid #F4766B; }

.form__label {
  font-size: 1.4rem;
  margin-left: 2rem;
  margin-top: .7rem;
  display: block;
  transition: all .3s;
  color: #48afff; }

.form__input:placeholder-shown + .form__label {
  opacity: 0;
  visibility: hidden;
  transform: translateY(-4rem); }

.form__invalid {
  color: #F4766B;
  font-size: 1.4rem;
  margin-left: 2rem;
  margin-top: .7rem;
  display: block;
  transition: all .3s; }

.edit__form {
  background-color: transparent;
  display: inline-block;
  padding: 5rem 5rem 2.5em 4rem;
  width: 25%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); }

.profile__form {
  background-color: #ffffff;
  display: inline-block;
  border-radius: 1rem;
  box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.1);
  width: 100% !important;
  cursor: pointer;
  padding: 1rem 0 !important;
  transition: .4s all; }
  .profile__form:hover {
    transform: translateY(-1.5px);
    box-shadow: 0 0.5rem 2rem rgba(0, 0, 0, 0.2); }
  .profile__form:active, .profile__form:focus {
    transform: translateY(5px);
    outline: none; }

.header--logo {
  max-width: 8rem;
  width: 100%;
  height: auto; }

.header--main {
  max-width: 80rem;
  width: 100%;
  height: auto; }

.btn__ {
  background-color: #ffffff;
  border-radius: .5rem;
  padding: .7rem 2rem;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  display: inline-block;
  user-select: none;
  border: 1px solid transparent;
  transition: all .3s; }
  .btn__submit {
    background-color: #48afff;
    color: #ffffff; }
    .btn__submit:hover {
      background-color: #0090ff;
      box-shadow: 0 0.5rem 2rem rgba(0, 0, 0, 0.2);
      cursor: pointer;
      transform: translateY(-3px);
      text-decoration: none;
      color: #ffffff; }
    .btn__submit:active, .btn__submit:focus {
      transform: translateY(-1px);
      outline: none; }
    .btn__submit:disabled {
      background-color: #E8E5E8; }
  .btn__forgot {
    color: #48afff; }
    .btn__forgot:hover {
      text-decoration: none;
      color: #0090ff;
      cursor: pointer; }
    .btn__forgot:active, .btn__forgot:focus {
      transform: translateY(-1px);
      outline: none; }
  .btn__cancel {
    color: #F4766B; }
    .btn__cancel:hover {
      text-decoration: none;
      color: #F4766B;
      cursor: pointer; }
    .btn__cancel:active, .btn__cancel:focus {
      outline: none;
      transform: translateY(-1px); }
  .btn__success {
    background-color: #73AB84;
    color: #ffffff; }
    .btn__success:hover {
      background-color: #73AB84;
      box-shadow: 0 0.5rem 2rem rgba(0, 0, 0, 0.2);
      cursor: pointer;
      transform: translateY(-3px);
      text-decoration: none;
      color: #ffffff; }
    .btn__success:active, .btn__success:focus {
      transform: translateY(-1px);
      outline: none; }
    .btn__success:disabled {
      background-color: #E8E5E8; }

.button__toogle {
  background-color: transparent;
  border: 0;
  margin: 0 0 0 1rem;
  padding: .5rem 1rem;
  color: #ffffff;
  transition: all .4s; }
  .button__toogle:hover {
    border-radius: 1rem;
    box-shadow: 0 0.5rem 2rem rgba(0, 0, 0, 0.2);
    cursor: pointer; }
  .button__toogle:focus {
    outline: none; }
  .button__toogle:hover {
    transform: translateY(-3px);
    box-shadow: 0 0.5rem 2rem rgba(0, 0, 0, 0.2); }
  .button__toogle:active {
    transform: translateY(-1px); }

.nav_username {
  margin-top: .8rem; }

.dropdown-menu {
  right: 0 !important;
  border-radius: .8rem !important;
  font-size: 1.4rem !important; }

.nav-link {
  font-weight: 500;
  color: #ffffff !important;
  border-radius: 1rem;
  cursor: pointer;
  padding: .5rem 2rem;
  transition: all .4s; }
  .nav-link:hover {
    transform: translateY(-1px);
    box-shadow: 0 0.5rem 2rem rgba(0, 0, 0, 0.2); }

.dropdown-item {
  background-color: transparent !important; }
  .dropdown-item_link:hover {
    color: #48afff; }
