.btn__ {
    background-color: $color-white;
    border-radius: .5rem;
    padding: .7rem 2rem;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    display: inline-block;
    user-select: none;
    border: 1px solid transparent;
    transition: all .3s;

    &submit {
        background-color: $color-primary-light;
        color: $color-white;

        &:hover {
            background-color: $color-primary-dark;
            box-shadow: 0 .5rem 2rem rgba($color-black, .2);
            cursor: pointer;
            transform: translateY(-3px);
            text-decoration: none;
            color: $color-white;
        }

        &:active,
        &:focus {
          transform: translateY(-1px);
            outline: none;
        }

        &:disabled {
          background-color: $color-gray;
        }
    }

    &forgot {
        color: $color-primary-light;

        &:hover {
          text-decoration: none;
          color: $color-primary-dark;
          cursor: pointer;
        }

        &:active,
        &:focus {
          transform: translateY(-1px);
          outline: none;
        }
    }

    &cancel {
        color: $color-error;

        &:hover {
            text-decoration: none;
            color: $color-error;
            cursor: pointer;
        }

        &:active,
        &:focus {
            outline: none;
            transform: translateY(-1px);
        }
    }

    &success {
        background-color: $color-success;
        color: $color-white;

        &:hover {
            background-color: $color-success;
            box-shadow: 0 .5rem 2rem rgba($color-black, .2);
            cursor: pointer;
            transform: translateY(-3px);
            text-decoration: none;
            color: $color-white;
        }

        &:active,
        &:focus {
          transform: translateY(-1px);
          outline: none;
        }

        &:disabled {
          background-color: $color-gray;
        }
    }
}

.button__toogle {
  background-color: transparent;
  border: 0;
  margin: 0 0 0 1rem;
  padding: .5rem 1rem;
  color: $color-white;
  transition: all .4s;
  &:hover {
    border-radius: 1rem;
    box-shadow: 0 0.5rem 2rem rgba(0, 0, 0, 0.2);
    cursor: pointer;
  }
  &:focus {
    outline: none;
  }
  &:hover {
    transform: translateY(-3px);
    box-shadow: 0 0.5rem 2rem rgba(0, 0, 0, 0.2);
  }
  &:active {
    transform: translateY(-1px);
  }
}

.nav_username {
  margin-top: .8rem;
}

.dropdown-menu {
  right: 0 !important;
  border-radius: .8rem !important;
  font-size: 1.4rem !important;
}

.nav-link {
  font-weight: 500;
  color: $color-white !important;
  border-radius: 1rem;
  cursor: pointer;
  padding: .5rem 2rem;
  transition: all .4s;

  &:hover {
    transform: translateY(-1px);
    box-shadow: 0 0.5rem 2rem rgba(0, 0, 0, 0.2);
  }
}
.dropdown-item {
  background-color: transparent !important;
  &_link:hover {
    color: $color-primary-light;
  }
}
