.registration__form {
    background-color: $color-white;
    display: inline-block;
    border-radius: 1rem;
    box-shadow: 0 1rem 3rem rgba($color-black, .1);
    padding: 5rem 4rem 2.5em 4rem;
    width: 20%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    &__header--logo {
      width: 100%;
      height: auto;
      max-width: 12rem;
      text-align: right;
    }

    @include respond(desktop) {
      width:30%;
    }

    @include respond(tab-land) {
      width:30%;
    }

    @include respond(tab-port) {
      width:40%;
    }

    @include respond(phone) {
      width:50%;
      box-shadow: none;
    }
}

.form {

  &__group:not(:last-child) {
    margin-bottom: 1rem;
  }

  &__input {
        font-size: 1.5rem;
        font-family: inherit;
        color: inherit;
        padding: 1rem .1rem;
        border-radius: 2px;
        background-color: rgba($color-white, .5);
        border: none;
        width: 100%;
        display: block;
        transition: all .3s;
        border-bottom: 1px solid $color-gray;

    &:focus {
        outline: none;
        border-bottom: 1px solid $color-primary-dark;
    }

    &:focus:invalid {
        border-bottom: 1px solid $color-error;
    }
  }

  &__input-search {
        font-size: 1.5rem;
        font-family: inherit;
        color: inherit;
        padding: .3rem .1rem;
        border-radius: 2px;
        background-color: rgba($color-white, .5);
        border: none;
        width: 100%;
        display: block;
        transition: all .3s;
        border-bottom: 1px solid $color-gray;

    &:focus {
        outline: none;
        border-bottom: 1px solid $color-primary-dark;
    }

    &:focus:invalid {
        border-bottom: 1px solid $color-error;
    }
  }

  &__label {
    font-size: 1.4rem;
    margin-left: 2rem;
    margin-top: .7rem;
    display: block;
    transition: all .3s;
    color: $color-primary-light;
  }

  &__input:placeholder-shown + &__label {
    opacity: 0;
    visibility: hidden;
    transform: translateY(-4rem);
  }

  &__invalid {
    color: $color-error;
    font-size: 1.4rem;
    margin-left: 2rem;
    margin-top: .7rem;
    display: block;
    transition: all .3s;
  }
}

.edit__form {
  background-color: transparent;
  display: inline-block;
  padding: 5rem 5rem 2.5em 4rem;
  width: 25%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.profile__form {
    background-color: $color-white;
    display: inline-block;
    border-radius: 1rem;
    box-shadow: 0 1rem 3rem rgba($color-black, .1);
    width: 100% !important;
    cursor: pointer;
    padding: 1rem 0 !important;
    transition: .4s all;

    &:hover {
      transform: translateY(-1.5px);
      box-shadow: 0 0.5rem 2rem rgba(0, 0, 0, 0.2);
    }

    &:active,
    &:focus {
      transform: translateY(5px);
      outline: none;
    }
}
