.side__main {
    display: inline-block;
    width: 80%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    pointer-events: none;

    @include respond(tab-land) {
      width:40%;
      left: 25%;
    }

    @include respond(tab-port) {
      width:60%;
      left: 50%;
    }

    @include respond(phone) {
      width:100%;
    }
}
