.topbar {
  background-color: $color-primary-dark !important;
}

.navbar__img {
  max-width: 7rem;
  width: 50%;
  height: auto;
  margin-left: 1rem;
}

.logo-text {
  font-size: 1.5rem;
  font-weight: 600;
}

.op-5 {
  font-size: 1.3rem !important;
}
