*,
*::after,
*::before {
  margin: 0;
  padding: 0;
}

html {
    font-size: 62.5% !important;
    background-color: $color-main-background;
}

body {
  font-family: 'Quicksand', sans-serif !important;
  font-weight: 400 !important;
  font-size: 1.6rem !important;
  line-height: 1.7 !important;
}
