.u-heading-heavy {font-size: 20rem !important; font-weight: 700 !important;line-height: 15rem !important;}
.u-heading-primary-heavy {font-size: 7rem !important; font-weight: 600;}
.u-heading-primary {font-size: 4rem !important; font-weight: 600;}
.u-heading-m {font-size: 3rem !important; font-weight: 600;}
.u-heading-sm {font-size: 2rem !important; font-weight: 600;}
.u-heading-s {font-size: 2.5rem !important; font-weight: 600;}
.u-heading-xs {font-size: 1.5rem !important;}
.u-dot-heavy {font-size: 6rem !important;}
.u-text-align-center {text-align: center !important;}
.u-text-align-left {text-align: left !important;}
.u-block-text {display: block !important;}
.u-text-italic {font-style: italic !important;}
.u-vertical-align {vertical-align: bottom !important;}
.u-padding-sm {padding: 1.5rem !important;}
.u-padding-md {padding: 2rem !important;}
.u-padding-lg {padding: 5rem !important;}

.u-padding-top-xl-custom {padding-top: 15rem !important;}
.u-padding-top-xl {padding-top: 9rem !important;}
.u-padding-top-lg-text {padding-top: 3rem !important;}
.u-padding-top-lg {padding-top: 2rem !important;}
.u-padding-top-m {padding-top: 1rem !important;}
.u-padding-top-6 {padding-top: .6rem !important;}

.u-padding-left-xl {padding-left: 10rem !important;}

.u-margin-top-lg {margin-top: 5rem !important;}
.u-margin-top-m {margin-top: 2rem !important;}
.u-margin-top-sm {margin-top: 1rem !important;}

.u-margin-bottom-lg {margin-bottom: 5rem !important;}
.u-margin-bottom-l {margin-bottom: 3rem !important;}
.u-margin-bottom-m {margin-bottom: 2rem !important;}

.u-margin-left-m {margin-left: 2rem !important;}
.u-margin-left-s {margin-left: 1rem !important;}

.u-margin-lg {margin: 5rem !important;}

.u-white-text {color: $color-white !important;}
.u-bluedark-text {color: $color-primary-dark !important;}
.u-bluelight-text {color: $color-primary-light !important;}
.u-orange-text {color: $color-orange !important;}
.u-darkgray-text {color: $color-dark-gray !important;}
.u-error-text {color: $color-error !important;}
.u-success-text {color: $color-success !important;}
.u-violet-text {color: $color-dark-violet !important;}
.u-yellow-text {color: $color-yellow !important;}

.u-bg-primary-light{background-color: $color-primary-light !important;}
.u-bg-primary-dark{background-color: $color-primary-dark !important;}
.u-bg-main{background-color: $color-main-background !important;}
.u-bg-transparent{background-color: transparent !important;}

.u-display-inline{display: inline-block !important;}

.u-container-center {position: absolute !important;top: 60% !important;left: 50% !important;transform: translate(-50%, -50%) !important;}

.u-border-m {border: .2rem solid $color-gray}

.u-no-margin-padding {padding: 0 !important; margin: 0 !important;}

.u-text-align-left {text-align: left !important;}
.u-text-align-right {text-align: right !important;}

.u-custom-width {width: 80rem !important;}
.u-custom-width-xl {width: 40rem !important;}
.u-custom-width-lg {width: 30rem !important;}
.u-custom-width-m {width: 20rem !important;}
.u-custom-width-sm {width: 10rem !important; text-align: center !important;}

.u-bold-text {font-weight: 500 !important;}

.u-label-error {background-color: $color-error !important; color: $color-white !important; padding: .5rem 1rem !important;}
.u-label-success {background-color: $color-success !important; color: $color-white !important; padding: .5rem 1rem !important;}
