*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5% !important; }

body {
  font-family: 'Quicksand', sans-serif !important;
  font-weight: 400 !important;
  font-size: 1.6rem !important;
  line-height: 1.7 !important; }

.u-heading-heavy {
  font-size: 20rem !important;
  font-weight: 700 !important;
  line-height: 15rem !important; }

.u-heading-primary {
  font-size: 4rem !important; }

.u-heading-sm {
  font-size: 2rem !important;
  font-weight: 600; }

.u-dot-heavy {
  font-size: 6rem !important; }

.u-text-align-center {
  text-align: center !important; }

.u-padding-sm {
  padding: 1.5rem !important; }

.u-padding-md {
  padding: 2rem !important; }

.u-padding-top-lg-text {
  padding-top: 3rem !important; }

.u-padding-top-lg {
  padding-top: 2rem !important; }

.u-padding-top-m {
  padding-top: 1rem !important; }

.u-white-text {
  color: #ffffff !important; }

.u-bluelight-text {
  color: #48afff !important; }

.u-orange-text {
  color: #FA7921 !important; }

.u-bg-primary-light {
  background-color: #48afff !important; }

.u-bg-primary-dark {
  background-color: #0090ff !important; }

.u-bg-transparent {
  background-color: transparent !important; }

.registration__form {
  background-color: #ffffff;
  display: inline-block;
  border-radius: 1rem;
  box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.1);
  padding: 5rem 5rem 2.5em 5rem;
  width: 22%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); }
  .registration__form__header--logo {
    width: 100%;
    height: auto;
    max-width: 12rem;
    text-align: right; }
  @media (max-width: 75em) {
    .registration__form {
      width: 40%;
      left: 75%; } }
  @media (max-width: 56.25em) {
    .registration__form {
      width: 60%;
      left: 50%; } }
  @media (max-width: 37.5em) {
    .registration__form {
      width: 100%; } }

.form__group:not(:last-child) {
  margin-bottom: 1rem; }

.form__input {
  font-size: 1.5rem;
  font-family: inherit;
  color: inherit;
  padding: 1rem 1rem;
  border-radius: 2px;
  background-color: rgba(255, 255, 255, 0.5);
  border: none;
  width: 100%;
  display: block;
  transition: all .3s;
  border-bottom: 1px solid #E8E5E8; }
  .form__input:focus {
    outline: none;
    border-bottom: 1px solid #0090ff; }
  .form__input:focus:invalid {
    border-bottom: 1px solid #F4766B; }

.form__label {
  font-size: 1.4rem;
  margin-left: 2rem;
  margin-top: .7rem;
  display: block;
  transition: all .3s;
  color: #48afff; }

.form__input:placeholder-shown + .form__label {
  opacity: 0;
  visibility: hidden;
  transform: translateY(-4rem); }

.header--logo {
  max-width: 10rem;
  width: 100%;
  height: auto; }

.header--main {
  max-width: 80rem;
  width: 100%;
  height: auto; }

.side__main {
  display: inline-block;
  width: 80%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  pointer-events: none; }
  @media (max-width: 75em) {
    .side__main {
      width: 40%;
      left: 25%; } }
  @media (max-width: 56.25em) {
    .side__main {
      width: 60%;
      left: 50%; } }
  @media (max-width: 37.5em) {
    .side__main {
      width: 100%; } }

.btn__ {
  background-color: #ffffff;
  border-radius: .5rem;
  padding: .7rem 2rem;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  display: inline-block;
  user-select: none;
  border: 1px solid transparent;
  transition: all .3s; }
  .btn__submit {
    background-color: #48afff;
    color: #ffffff; }
    .btn__submit:hover {
      background-color: #0090ff;
      box-shadow: 0 0.5rem 2rem rgba(0, 0, 0, 0.2);
      cursor: pointer; }
    .btn__submit:active, .btn__submit:focus {
      outline: none; }
  .btn__forgot {
    color: #48afff; }
    .btn__forgot:hover {
      box-shadow: 0 0.5rem 2rem rgba(0, 0, 0, 0.2);
      cursor: pointer; }
    .btn__forgot:active, .btn__forgot:focus {
      outline: none; }

.button__toogle {
  background-color: transparent;
  border: 0;
  margin: 0 0 0 1rem;
  padding: .5rem 1rem;
  color: #ffffff; }
  .button__toogle:hover {
    border-radius: 1rem;
    box-shadow: 0 0.5rem 2rem rgba(0, 0, 0, 0.2);
    cursor: pointer; }

.rounded-circle:hover {
  background-color: #0090ff;
  box-shadow: 0 0.5rem 2rem rgba(0, 0, 0, 0.2);
  cursor: pointer; }

.nav_username {
  margin-top: .8rem; }

.dropdown-menu {
  right: 0 !important;
  border-radius: 1rem !important;
  font-size: 1.4rem !important; }

.nav-link {
  cursor: pointer; }
