.pace { -webkit-pointer-events: none; pointer-events: none; -webkit-user-select: none; -moz-user-select: none; user-select: none; } .pace-inactive { display: none; } .pace .pace-progress { background: #f20d85; position: fixed; z-index: 2000; top: 0; right: 100%; width: 100%; height: 2px; }

.auth__message {
  text-align: center;
  color: white;
  border-radius: .5rem;
  padding: 1rem;
  animation: fadeinout 15s linear forwards;

  &-success {
    background-color: $color-success;
  }
  &-error {
    background-color: $color-error;
  }
}

@keyframes fadeinout {
  0% { opacity: 0; }
  5% { opacity: 1; }
  50% { opacity: 0; }
  100% { opacity: 0; }
}

.User {
  color: $color-success;
}
.Admin {
  color: $color-error;
}

.profile__photo {
  max-width: 15rem;
  width: 100%;
  height: auto;
  transition: .4s all;

  &:hover {
    box-shadow: 0 .05rem 2rem rgba($color-black, .2);
    cursor: pointer;
    transform: translateY(-4px);
  }
  &:active,
  &:focus {
    transform: translateY(-1px);
    outline: none;
  }
}

.placeholder_info {
  padding: 1rem 0 0 1rem;
  width: 1rem !important;
  color: $color-primary-light;
  font-weight: 600;
}

.file_upload {
  max-width: 15rem;
  width: 100%;
  height: 100%;
  opacity: 0;
  cursor: pointer;

   -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
   filter: alpha(opacity=0);
   -moz-opacity: 0.0;
   -khtml-opacity: 0.0;

   position: absolute;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
  background-color: red;
}

.fixed-left {
  position: fixed !important;
}

.custom-tr {
  cursor: pointer;
  transition: .4s all;
  background-color: $color-white;

  &:hover {
    box-shadow: 0 .05rem 2rem rgba($color-black, .2);
    cursor: pointer;
    transform: translateY(-.02px);
  }
}

.custom-select {
    font-size: 1.5rem;
    height: auto !important;
}

.selection-box {
    display: inline-block;
    width: 85%;
    height: auto;
    text-align: center;
    line-height: 1.5;
    color: #4F5467;
    vertical-align: middle;
    background-size: 8px 10px;
    border: 1px solid #e9ecef;
    border-radius: 2px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

.react-datepicker {
  font-size: 1.4rem !important;
}
.react-datepicker__header {
  padding-top: 1rem !important;
}
.react-datepicker__month {
  margin: 1rem 1.4rem !important;
}
.react-datepicker__day-name, .react-datepicker__day {
  width: 2.5rem !important;
  line-height: 2.5rem !important;
  margin: .6rem !important;
}
.react-datepicker__current-month {
  font-size: 1.4rem !important;
}
.react-datepicker__navigation {
  top: 1rem !important;
  line-height: 1.7rem !important;
  border: 0.45rem solid transparent !important;
}
.react-datepicker__navigation--previous {
  border-right-color: $color-dark-gray !important;
  left: 1rem !important;
}
.react-datepicker__navigation--next {
  border-left-color: $color-dark-gray !important;
  right: 1rem !important;
}

.react-datepicker__day--selected, .react-datepicker__day--in-selecting-range, .react-datepicker__day--in-range {
    background-color: $color-primary-dark !important;
}

.ct-label {
    color: $color-dark-gray !important;
    font-size: 1.2rem !important;
}

.pagination-container {
  display: inline-block;
  padding: 5rem 0 2rem 0;
}

.pagination {
  background-color: transparent;
  text-align: center;

  li a {
    color: $color-primary-dark;
    padding: .7rem 1.5rem;
    cursor: pointer;
  }
}

.active-link {
  background-color: $color-primary-dark;
  padding: .7rem 1.5rem;
  color: $color-white !important;
  border-radius: .3rem;

  &:hover {
      color: $color-white;
  }
}

.disabled a {
  color: $color-dark-gray !important;
}


.ct-series-a .ct-bar, .ct-series-a .ct-line, .ct-series-a .ct-point, .ct-series-a .ct-slice-donut {
    stroke: $color-primary-dark !important;
}
.ct-series-a .ct-area, .ct-series-a .ct-slice-donut-solid, .ct-series-a .ct-slice-pie {
    fill: $color-primary-light !important;
}

.ct-series-b .ct-bar, .ct-series-b .ct-line, .ct-series-b .ct-point, .ct-series-b .ct-slice-donut {
    stroke: $color-dark-violet !important;
}
.ct-series-b .ct-area, .ct-series-b .ct-slice-donut-solid, .ct-series-b .ct-slice-pie {
    fill: $color-light-violet !important;
}

.header-icon {
  background-color: $color-dark-violet;
  border-radius: 100%;
  display: inline-block;
  padding: .3rem .8rem;
  color: $color-white;
}

.custom__tabs {
  color: $color-black;
  font-weight: 600;
  font-size: 1.6rem;

  &-uncheck {
    color: $color-lightgray !important;
    font-weight: 500 !important;
  }
}

.div__centered {
  text-align: left;
  margin: auto;
  width: 100rem;
}

.ct-label {
  font-size: 1.3rem !important;
}

.article__img {
  height: auto;
  max-width: 9rem;
  width: 100%;
}
